$bodybg: #262520;
$formbg: #fff;
$textfore: #aba3ab;
$alert: #797878;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
body{
    height: 100vh;
    width: 100%;
    background-color: $bodybg;
}
#root{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 23rem;
    padding: 2rem;
    color: $textfore;
    background-color: rgba($formbg, .2);
    backdrop-filter: blur(5px);
    border-radius: 2rem;
    box-shadow: inset 10px 10px 33px #262520,
                inset 15px 15px 33px #3b3b39,
                inset -10px -10px 33px #3b3b39;
    font-family: sans-serif;

    .signupHeader{
        padding: 1rem;
        text-align: center;
    
        .title{
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
    
    .signUp{

        .lbl, .inp{
            font-size: 1rem;
            display: block;
        }
        .lbl{
            margin: 1rem 0 .5rem;
        }
        .inp{
            width: 100%;
            padding: 10px 15px;
            border-radius: 10px;
            border: none;
            outline: none;
            color: $textfore;
            background-color: $bodybg;
            box-shadow: inset 5px 5px 5px #313131,
                        inset -5px -5px 5px rgb(20, 20, 20);
        }
        .message{
            display: block;
            margin: .5rem 0 0;
            font-weight: bold;
            font-size: .8rem;
            position: relative;
            height: 10px;
        }
        .btn{
            font-size: 1.2rem;
            padding: 10px 15px;
            cursor: pointer;
            border: none;
            outline: none;
            background-color: $bodybg;
            width: 100%;
            border-radius: 10px;
            margin: 2.5rem 0 1rem;
            color: $textfore;
        }
    }
    
    
    .signupFooter{
        padding: 1rem;
        text-align: center;

        .subTitle{

            a{
                color: $textfore;
                font-size: 1.2rem;
                transition: all .1s;

                &:hover{
                    color: $bodybg;
                }
            }
        }
    }
}
